# cache
__pycache__
key.pyc

# env file
.env

# other
.DS_Store*

# folder
sports/
general/
business/
all/

sports_text/
general_text/
business_text/
all_text/


# text
*.txt

# relation Mecab
mecab-0.996/
mecab-ipadic-2.7.0-20070801/

# dust box
_dust/

# sample script
Sample.py


