# cache
__pycache__
key.pyc

# env file
.env

# other
.DS_Store*

# folder
file/
sports/
general/
business/
all/

# text
*.txt

# relation Mecab
mecab-0.996/
mecab-ipadic-2.7.0-20070801/

# dust box
dust/
